html, body, #root {
    min-height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: linear-gradient(cyan, black);
    background-size: cover;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}